<header class="fs-site-header">
  <div class="wrapper">

{% unless page.skip_title_in_header %}

    <div class="site-title">
      <img
        class="fs-site-icon"
        src="/assets/icons/fs-uae/40.png"
        width="40"
        height="40"
        alt=""
      />
      <h1 class="fs-site-title"><a href="/">FS-UAE</a></h1>
    </div>

{% endunless %}

    <nav>
      <ul>
        <li><a href="/news/">News</a></li>
        <li><a href="/download/">Download</a></li>
        <li><a href="/support/">Support</a></li>
        <li><a href="/docs/">Docs</a></li>
      </ul>
    </nav>
  </div>
</header>
