/*
  .fs-header-and-main {
      background-color: #ff0000;
  }
*/
/*
.fs-site-header {
  background-color: #66ff66;
}

.fs-page-header {
  background-color: #ffff66;
}

.fs-page-header {
  background-color: #ffff66;
}
*/

/*
.fs-sidebar {
  background-color: #ff6666;
}

.fs-main {
    background-color: #cccccc;
}
*/
/*
.fs-page-footer {
  background-color: #99aa44;
}

.fs-site-footer {
  background-color: #9944aa;
}
*/
