---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "fs-uae";
@import "text";

@import "header";
@import "footer";
@import "hero";
@import "docs";

@import "mobile";

@import "debug";

div.wrapper {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 6vw;
  padding-left: 6vw;
}

.center {
  text-align: center;
}

.two-columns {
  display: flex;
  flex-direction: column;
  gap: 6vw;
}

@media (min-width: 800px) {
  .two-columns {
    flex-direction: row;
    gap: 48px;
  }
}

.two-columns .column {
  flex-basis: 0;
  flex-grow: 1;
}

.news-page .post-title {
  // Need smaller post title font on news page
  font-size: 26px;
  // Add some margins between news articles
  margin-top: 40px;
}

// Override pre from base theme
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background-color: #f2f2f2;
}

.highlighter-rouge .highlight {
  background-color: #f2f2f2;
}

// pre {
//   min-width: 0;
//   overflow-x: auto;
//   overflow: auto; /* Adds scrollbars if content overflows */
// }

.outdated-warning {
  background-color: #eeddaa;
  font-size: 20px;
  padding: 24px;
  margin-bottom: 24px;
}

.notification {
  // background-color: #eeeabb;
  background-color: #eeddaa;
  padding: 24px;
}